.about {
  margin-top: 50px;
  background-color: var(--dark-blue);
  /* padding-top: 7rem; */
  /* height: 100vh; */
  padding: auto;
  display: flex;
  justify-content: center;
}

.about-text-zone {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-right: 2rem;
  /* width: 40%; */
}

.about-heading {
  /* color: var(--text-color); */
  color: var(--light-blue);
  font-size: 4rem;
  margin-bottom: 2rem;
  text-align: center;
}

.about-text {
  color: var(--text-color);
  font-size: 18px;
}

.about-container {
  padding: 5rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: auto;
  justify-content: center;
  /* max-width: 1600px; */
  width: 70%;
}

.skills-container {
  display: flex;
  animation: skills-anim 3s cubic-bezier(0.19, 1, 0.22, 1) forwards;
  justify-content: center;
  align-items: center;
  width: 40%;
  min-width: 453px;
  max-width: 1000px;
}

.skills-canvas {
  width: 100%;
  height: 100%;
}

@media only screen and (max-width: 1200px) {
  .about-container {
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
  }
  .about-text-zone {
    width: 547px;
    text-align: center;
  }
  .skills-container {
    padding: 1rem;
    width: 50%;
  }
  .about {
    height: fit-content;
  }
}

@media only screen and (max-width: 920px) {
   .about {
    padding-top: 0;
    height: fit-content;
  }
  .about-container {
    padding-top: 1rem;
  }
  .about-heading {
    font-size: 10vw;
  }
  .about-text {
    font-size: 4vw;
  }

  .skills-container {
    min-width: 0;
    width: 90%;
    padding: 0;
  }
}